
<div id="title">
<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<p>{{email}}</p>
</div>

<div class="content-about">
<article class="about">
    <h2>Sobre mi</h2>
    <p>Mi nombre es Manel Aguilera Martinez, mi pasión es el desarrollo web y la tecnología, actualmente soy estudiante de grado superior de informática aunque tengo a mi disposición el certificado de profesionalidad de nivel 3 de desarrollador de aplicaciones con tecnología web. Me considero una persona al que le gusta los nuevos objetivos y poder aprender de ellos, así como tener la posibilidad de desenvolverme en cualquier proyecto que se me disponga.</p>
</article>

<article class="about">
    <h2>Por que Freelancer?</h2>
    <p>Actualmente me siento una persona preparada para poder tener proyectos y llevarlos adelante, aunque mi experiencia laboral en este sector es mínima me considero una persona autodidacta y gracias a ello puedo tener la suficiente confianza como para poderlos llevar a cabo.</p>

</article>

</div>

